body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #002a5a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #DADDD8;
}
.one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    border: 1px solid #fff;
}
button {
    display: block;
    margin: 10vh auto;
    background: none;
    color: #ff477e;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1.7em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

button:hover {
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
    
}

#res {
  animation: shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-play-state: paused;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -2px, -3px);
  }

  20%,
  80% {
    transform: translate3d(1px, 4px, 3px);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-1px, -2px, -3px);
  }

  40%,
  60% {
    transform: translate3d(1px, 4px, 3px);
  }
}

@media screen and (max-width:480px) {
    .one {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 50vh;
        border: 1px solid #fff;
    }

    #res {
        width: 80vw;
    }
    button {
        display: block;
        margin: 10vh auto;
        background: none;
        color: #ff477e;
        border: 2px solid;
        padding: 1em 2em;
        font-size: 1.7em;
        transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
    }
}
